<%= @req_url %>

<div class="container">

  <div class="row mt-5">
    <div class="col-lg-4">
        <canvas id="myChart"></canvas>
        <script>Testfunction("myChart")</script>
    </div>
    <div class="col-lg-4">
      One of three columns
    </div>
    <div class="col-lg-4">
      One of three columns
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-4">
        <canvas id="myChart2"></canvas>
        <script>Testfunction("myChart2")</script>
    </div>
    <div class="col-lg-4">
      One of three columns
    </div>
    <div class="col-lg-4">
      One of three columns
    </div>
  </div>


</div>

